<header
  class="fixed top-0 left-0 right-0 z-30 flex items-center bg-white dark:bg-dark-grey tablet:border-b border-light-lines dark:border-dark-lines h-16 tablet:h-20 laptop:h-24 pr-3 tablet:pr-6"
>
  <!--  Change from a to div?-->
  <!--Implement resize changing w-[300px] to width="someWidth" connect to aside component--->
  <a
    href="/"
    tabindex="-1"
    class="flex items-center tablet:pb-[5px] tablet:w-[261px] laptop:w-[300px] tablet:border-r border-light-lines dark:border-dark-lines h-full pl-4 tablet:pl-8"
  >
    <picture class="relative min-w-[25px] w-[25px] h-[26px] tablet:w-[153px] tablet:h-[26px]">
      <!-- mobile logo when viewport ≤ 768px -->
      <source
        media="(max-width: 767px)"
        srcset="/assets/logo-mobile.svg"
      />
      <!-- fallback / desktop logo -->
      <img
        [ngSrc]="`/assets/logo-${theme}-theme.svg`"
        alt="Kanban logo"
        priority
        fill
      />
    </picture>
  </a>
  <div class="flex items-center justify-between flex-1 pl-4 tablet:pl-6 laptop:pl-8">
    <p
      class="flex gap-1 items-center text-heading-l tablet:text-heading-xl text-black dark:text-white"
    >
      <span>Platform Launch</span>

      <tui-icon
        [icon]="TUI_ICONS.CHEVRON_DOWN"
        class="w-3 text-purple tablet:hidden -rotate-90"
      />
    </p>

    <div class="flex justify-between gap-2.5 items-center">
      <button
        class="btn-primary-large hover:btn-primary-large-hover flex items-center gap-1 justify-center mr-auto py-2.5 tablet:py-[15px] w-12 tablet:w-[164px] disabled:opacity-25 transition ease-out"
      >
        <tui-icon
          [icon]="TUI_ICONS.ADD_TASK"
          class="w-3 h-3 tablet:w-2 tablet:h-2"
        ></tui-icon>
        <span class="hidden tablet:inline-block">Add New Task</span>
      </button>

      <button
        class="flex items-center rounded-[10px] justify-center w-4 tablet:w-6 h-8 tablet:h-12 hover:bg-dark-lines hover:bg-opacity-70 transition ease-out"
      >
        <tui-icon
          [icon]="TUI_ICONS.VERTICAL_ELLIPSIS"
          class="h-4 tablet:h-5 text-grey-m"
        ></tui-icon>
      </button>
    </div>
  </div>
</header>
