<div class="flex flex-col gap-2 justify-center items-center mx-6">
  <div class="flex gap-5 justify-center items-center text-grey-m bg-dark-grey-bg rounded-md w-full h-12">
    <tui-icon
      [icon]="TUI_ICONS.LIGHT_THEME"
      class="w-[18px] h-[18px]"
    />
    <input
      tuiSwitch
      name="but-theme-toggle"
      type="checkbox"
      [ngModel]="true"
      [showIcons]="false"
      class="btn-theme-toggle scale-[0.84]"
    />
    <tui-icon
      [icon]="TUI_ICONS.DARK_THEME"
      class="w-4 h-4"
    />
  </div>
  <div class="inline-block self-start">
    <app-btn-board
      btnTitle="Hide Sidebar"
      [isHideBtn]="true"
      [isActionBtn]="true"
    />
  </div>
</div>
