<div class="flex flex-col gap-5 pr-8 tablet:pr-5 laptop:pr-6">
  <h2 class="uppercase ml-4 tablet:ml-6 laptop:ml-8 text-grey-m text-heading-s">
    All boards ({{ bordersCount }})
  </h2>
  <nav class="flex flex-col gap-1">
    <app-btn-board
      [btnTitle]="'Platform Launch'"
      [isActive]="true"
    />
    <app-btn-board
      [btnTitle]="'Marketing Plan'"
      [isActive]="false"
    />
    <app-btn-board
      [btnTitle]="'Roadmap'"
      [isActive]="false"
    />
    <app-btn-board
      [btnTitle]="'Create New Board'"
      [isActive]="false"
      [isActionBtn]="true"
    />
  </nav>
</div>
