<button
  class="flex items-center gap-3 w-full laptop:gap-4 text-heading-m text-white py-4 transition duration-200 ease-out"
  [ngClass]="linkClass"
  (click)="onClick()"
>
  @if (!isHideBtn()) {
    <tui-icon
      [icon]="TUI_ICONS.BOARD"
      class="w-4 h-4"
    />
  } @else {
    <tui-icon
      [icon]="TUI_ICONS.HIDE_SIDEBAR"
      class="w-4 h-4"
    />
  }
  <span class="flex items-center gap-1">
    @if (isActionBtn()) {
      <tui-icon
        [icon]="TUI_ICONS.ADD_TASK"
        Class="w-2 h-2"
      />
    }
    {{ btnTitle() }}
  </span>
</button>
