@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary-large {
    @apply bg-purple rounded-3xl text-heading-m text-center text-white py-[15px] transition-colors duration-200 ease-out;
  }

  .btn-primary-large:hover {
    @apply bg-purple-hover;
  }

  .btn-primary-small {
    @apply bg-purple rounded-[20px] text-body-l font-bold text-center text-white block py-[9px];
  }

  .btn-primary-small:hover {
    @apply bg-purple-hover;
  }

  .btn-secondary-light {
    @apply bg-purple/[.1] rounded-[20px] text-body-l font-bold text-center text-purple block py-[9px];
  }

  .btn-secondary-light:hover {
    @apply bg-purple/[.25];
  }

  .btn-secondary-dark {
    @apply bg-white rounded-[20px] text-body-l font-bold text-center text-purple block py-[9px];
  }

  .btn-red {
    @apply bg-red rounded-[20px] text-body-l font-bold text-center text-white block py-[9px];
  }

  .btn-red:hover {
    @apply bg-red-hover;
  }
}


@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/assets/font/PlusJakartaSans-VariableFont_wght.woff2') format('woff2');
  font-weight: 500 700;
  font-style: normal;
  font-display: swap;
}
